In [1]:
# scraping a table from Wikipedia
import pandas as pd

In [2]:
url = "https://es.wikipedia.org/wiki/Bandera_Azul"

In [3]:
tables = pd.read_html(url)

In [4]:
table = tables[1]

In [5]:
table

,País,Número de playas con bandera azul[2]​,Número de puertos con bandera azul[2]​,Número de barcos con bandera azul[2]​,Número total de banderas azules[2]​,Km de costa,Número de playas con banderas azules por cada 100 km de costa
0,España,589,100,5,692,4964,1183
1,Francia (con territorios de ultramar),400,98,0,498,4853,824
2,Turquía,421,21,0,442,7200,585
3,Grecia,430,10,0,440,13676,314
4,Italia,293,66,0,359,7600,386
5,Portugal,315,17,0,332,1793,1757
6,Dinamarca,220,38,0,258,7314,301
7,Países Bajos,62,113,0,175,451,1375
8,Alemania,43,109,0,152,2389,180
9,Reino Unido,122,5,0,127,12429,98
10,Croacia,91,20,0,111,5835,156
11,Irlanda,78,6,0,84,1448,539
12,Chipre,59,0,0,59,648,910
13,Sudáfrica,38,6,0,44,2798,136
14,Israel,37,3,0,40,273,1355
15,Polonia,30,7,0,37,440,682
16,Canadá,26,7,0,33,202080,1
17,Túnez,30,2,0,32,1148,261
18,México,26,1,0,27,9330,28
19,Islandia,4,6,16,26,4970,8
20,Montenegro,25,0,0,25,2935,852
21,Marruecos,22,0,0,22,1835,120
22,Bélgica,12,9,0,21,665,180
23,Suecia,10,11,0,21,3218,31
24,Letonia,17,2,0,19,498,341
25,Noruega,13,5,0,18,25148,5
26,República Dominicana,21,0,0,18,1288,140
27,Eslovenia,13,3,0,16,466,279
28,Bulgaria,10,1,0,11,354,282
29,Malta,10,0,0,10,2528,396
30,Puerto Rico,9,1,0,10,501,180
31,Brasil,4,2,0,6,7491,5
32,Islas Vírgenes de los Estados Unidos,4,2,0,6,188,213
33,Ucrania,6,0,0,6,2782,22
34,Jordania,5,0,0,5,26,19
35,Lituania,3,0,0,3,90,33
36,Bahamas,0,2,0,2,3542,0
37,Estonia,2,0,0,2,3794,5
38,Japón,2,0,0,2,29751,1
39,Nueva Zelanda,0,2,0,2,3542,0
40,Rumanía,2,0,0,2,225,89
41,Sint Maarten,1,1,0,2,364,28
42,Rusia,1,0,0,1,37653,0
43,Serbia,1,0,0,1,0,0
44,Trinidad y Tobago,1,0,0,1,362,28

Changing those long column names

In [6]:
table.columns

Index(['País', 'Número de playas con bandera azul[2]​',
       'Número de puertos con bandera azul[2]​',
       'Número de barcos con bandera azul[2]​',
       'Número total de banderas azules[2]​', 'Km de costa',
       'Número de playas con banderas azules por cada 100 km de costa'],
      dtype='object')

In [7]:
table_cols = ["pais","playas_ba","puertos_ba","barcos_ba","total","km_costa","playasba_cada_100km_costa"]

In [8]:
table.columns = table_cols

In [9]:
table.head()

,pais,playas_ba,puertos_ba,barcos_ba,total,km_costa,playasba_cada_100km_costa
0,España,589,100,5,692,4964,1183
1,Francia (con territorios de ultramar),400,98,0,498,4853,824
2,Turquía,421,21,0,442,7200,585
3,Grecia,430,10,0,440,13676,314
4,Italia,293,66,0,359,7600,386